<%= my_form_for restriction, url: citizen_restrictions_path(citizen, restriction), method: 'post', html: {id: 'new_restriction', autocomplete: 'off' }  do |f| %>
  <h4>Restriction Adder</h4>
  <dl>
    <dt>
      <%= f.label :description, 'Restriction description' %>
    </dt>
    <dd>
      <%= f.text_area :description, rows: 6 %>
    </dd>
    <dt>
      <%= f.label :genre, 'Restriction Genre' %>
    </dt>
    <dd>
      <%= f.select :genre, options_for_select([['Choose Genre', 'choose'], ['Movement Restrictions', 'movement'], ['Health Service Restrictions', 'health'], ['Financial Access Restrictions', 'financial"']], restriction.genre) %>
    </dd>
  </dl>
  <button type="submit" class="issue-adder">Add Restriction</button>
<% end %>


