<!DOCTYPE html>
<html>
  <head>
    <title>237Security</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"> -->
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet"> -->
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
  </head>
  
  <body>
    <header>
      <h1><a href="/">237Security</a></h1>
      <% if signed_in? %>
        <nav>
          <li>
            <a href="/ui/convocations">Convocations</a>
          </li>
          <li>
            <a href="/ui/convictions">Convictions</a>
          </li>
          <li>
            <a href="/ui/flags">Flags</a>
          </li>
          <li>
            <a href="/ui/restrictions">Restrictions</a>
          </li>
          <li>
            <a href="/ui/investigations">Investigations</a>
          </li>
          <li>
            <a href="/ui/citizens">Citizens</a>
          </li>
        </nav>
      <% else %>
        <nav>
          <% if @register %>
            <li class="create-account">
              <%= link_to 'Create Account', register_path %>
            </li>
          <% else %>
            <li class="create-account">
              <%= link_to 'Login', sign_in_path %>
            </li>
          <% end %>
        </nav>
      <% end %>
      <div id="informant" class="red">
      </div>
    </header>
    <div class="modal-layer">
      <div class="modal">
        <p id="inquirer">
          
        </p>
        <button id="yes" class="red">Yes</button>
        <button id="no" class="green">No</button>
      </div>
    </div>
    <%= yield %>
    <footer>
      
    </footer>
  </body>
</html>
